


.num1{ 
    margin-top: 0px;
    /* margin-left: 80px; */
}
.bg{ 
font-size: 16px;
/* color: white; */
}
.image{ 
    width: 200px;
   margin: 0px 209px 6px 270px;
}  
/* .install{ 
    margin-left: 40px;
} */
/* .row2{ 
    border: 1px solid black;
}  */
.bgcol1{ 
    margin-left: 80px;
} 
/* .btn1{ 
    background-color: #ffc107;
} */
.row3{ 
    margin-left: 100px;
    margin-top: 40px;
} 
.ground{
    aspect-ratio: 1/1;
      background-image: linear-gradient(180deg, rgba(255,255,255,0.01), rgba(255,255,255,1) 85%), radial-gradient(ellipse at top left, rgba(13,110,253,0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(255,228,132,0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(112.520718,44.062154,249.437846,0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(214,51,132,0.5), transparent 50%);
  }
  
element.style {
}
.navbar {
    padding: 0.75rem 0;
         background-color: rgb(114,46,249);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(255,255,255,0.15);
}
  .navbar::after {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: block;
    content: "";
    background-image: linear-gradient(rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
}
.p{ 
   margin-top: -20px; 
   border: 1px solid black;
   margin-top: 10px;
   height: 100px;
   overflow-y: hidden;
   width: 80%; 
   border: none; 
   margin-right: 40px;
} 
/* .input1{ 
    border: 1px solid black;
    margin-right: 190px;
    width: 30%;
} */
 /* input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }  */ 
  .place{ 
    margin-right: 500px; 
    background-image: url('searchicon.png');
    font-size: 16px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
.p1{ 
    color: #0D6EFD; 
    padding-bottom: 60px;  
} 
.ics{ 
    margin-right: 90px;
    padding: 0px;
    color: white; 
}   
input{ 
    padding: 5px;
    color: white;
}

.icon2 {
    padding-left: 35px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left #6f42c1;
    background-size: 20px;
    padding: px;
    color: white;
  }
.fa{ 
    margin-left: 450px;
    margin-top: -200px;
    /* margin-bottom: 40px; */
}
.link{ 
    border: 1px solid black;
    margin-top: 10px; 
    padding-left: 40px; 
    background-color: #F8F9FA;

}
.heading1{ 
    font-size: 57.136px;
    margin-left: 60px;
} 
.para1{ 
    font-size: 21px;
    margin-left: 30px;
    margin-top: 20px;
}
.btn1{ 
    margin-left: 100px;
   /* justify-content: center;
   text-align: center; */
   padding: 30px;
}.button2{ 
    margin-left: 10px;
   /* justify-content: center;
   text-align: center;  */
   padding: 20px 40px;
   background-color: #0D6EFD;
}
.para2{ 
    margin-top: 30px;
    margin-left: 80px;
 
}
.color{ 
    margin-left: 90px;
}
.image2{ 
    width: 19%;
  margin-left: 60px;
  
} 
.npm{ 
   margin-top: 40px;
}
.para3{ 
   margin-top: -70px;
   margin-left: 200px;
   
}
.head1{font-size: 43px; 
    margin-top: 60px; 
    margin-right: 30px;
}
.para4{ 
    font-size: 20px;
    margin-top: 20px;
}
.para5{ 
    font-size: 25px;
    /* color: #0D6EFD; */
    margin-left: 90px;
}
.btnn{ 
    padding: 20px 40px; 
    background-color: #F8F9FA;
    color: black; 
    border: 1px solid black;
}
.icon{ 
    margin-left: 120px;
    background-color:white;
    color: black;
  
}
.icon1{ 
    margin-left: 120px;
  
}
.btnn1{ 
    padding: 25px 55px;
    margin-top: 20px; 
    background-color: #F8F9FA;
    color: black; 
    border: 1px solid black;
}  
.btnn2{ 
    padding: 20px 40px;
    margin-top: 20px;  
    color: black; 
    border: 1px solid black;
}
.btn3{ 
    background-color:#e2e3e5; 
    padding: 20px 40px; 
    border-radius: 10px;
    border: 1px solid #e2e3e5;
} 
/* .over{ 
    width: 50%;
}  */
.code{ 
    font-size: 90px;
} 
.one{ 
   border: 1px solid black;
   height: 120px;
   width: 90%;
} 
.ones{ 
    border: 1px solid black;
    margin-top: 20px;
    width: 90%;
    height: 120px;
 }
.read{ 
    margin-top: 40px;
}
.our{ 
    color: #0D6EFD;
   
}   
.white{ 
    color: white;
} 
.twitter1{ 
    color: white;
} 
.nav2{
    color: white;
}
.nav1{ 
    border: none; 
    color: white;
    width: 40px;
    height: 40px;
} 
.png{ 
    /* border: 1px solid #6f42c1; */
    /* background-color: #f7dff7; */
    width: 80px;
    margin-left: 200px;
    margin-top: 30px; 
    border-radius: 10px;
} 
.png1{ 
    /* border: 1px solid #6f42c1; */
    background-color:rgb(203, 223, 230);
    width: 80px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px; 
    border-radius: 10px;
}
.w1{ 
    margin-left: 300px; 
}
.w2{ 
    margin-right: 300px; 
    margin-left: 40px;
}
/* .w3{ 
    margin-right: 200px; 
} */
.vite{ 
    width: 25%;
  
}
.pngimg{ 
    margin-top: 30px;

}
.pracel{ 
    width: 30%;
    margin-left: 200px;
    background-color: none;
}
.web{ 
    width: 40%;
}
.png3{ 
    border: 1px solid #6f42c1;
    background-color:lightpink;
    width: 80px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
} 
.png5{ 
    border: 1px solid #6f42c1;
    /* background-color:rgb(230, 230, 28) ; */
    width: 80px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
}
.hidden{ 
    width: 60%;
} 
/* .bgcol::after{ 
  background-image: linear-gradient(rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));;
  color: white;
} */
.read1{ 
    margin-left:40px;
    font-size: 23.989px;
    text-align: center;
    margin-top: 30px;
} 
.bottom{ 
    margin-top: 60px;
    margin-bottom: 120px;
}
.image6{ 
width: 80px;
margin-left: 600px;
}
.image7{ 
    width: 80px;
    margin-right: 400px;
    }
.get{ 
    margin-left: 30px;
    text-align: center;
}
.round1{ 
    width: 100px;
   
}
.round2{ 
    width: 100px;
}
.cus{ 
    font-size: 50px;
}
.boot{ 
   
    font-size: 20px;
}
.import{
    margin-top: 40px;
    font-size: 30px;
}.import1{
   
    font-size: 15px;
}
.var{
    border: 1px solid black;
   
}
.variable{ 
    margin-left: 10px;
    margin-top: 30px;
}
.primary{color:red;}
.secondary{color:#0D6EFD}
.learn{ 
    margin-top: 30px;
    margin-right: 40px;
}
.dropdown1{ 
   border: 1px solid white;
   border-top: none;
   border-bottom: none;
   margin-left: 10px;
   margin-right: 30px;
   padding-right: 10px;
}
.btn4{ 
    /* background-color: ; */
}
.nav{ 
    margin-right: 400px;
}
/* .place{ 
    margin-left: 40px;
} */
.twitter{ 
    color: aliceblue;
    margin-right: 30px;
    justify-content: center;
    /* margin-top: 20px; */
}
.build{ 
    font-size: 33.674px;
   
} 
.dropbtn{ 
    color: white;
} 
/* .btn1{ 
    background-color: rgba(248, 248, 198, 0.514);
} */
.var{ 
    border: 1px solid black;
    border-radius: 10px;
  
    
}
.build1{ 
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
} 
.component{ 
    border: 1px solid black; 
    margin-top: 30px;
  
   
}
.secondary1{  
margin-top: 30px;
    margin-left: 40px;
   
}
.variables{ 
    margin-top: 20px;
    margin-bottom: 30px;
} 
.secondary3{  
    border: 1px solid black;
    margin-top: 30px;
        margin-left: 40px;
       
    }
    .api{ 
        font-size: 36.674px;
        margin-top: 40px;
    }
    .new{ 
        font-size: 17px;
    }
    .home{ 
        margin: 10px;
        border: 1px solid black; 
    }
    .profile{  
        margin-left: 10px;
    }
    .home1{
        border: 1px solid black; 
        border-radius: 20px;
      padding: 40px 100px;

    }
    .profile1{ 
        border: 1px solid black;
        border-radius: 20px;
        padding: 20px;
        padding-bottom: 40px;

    }
    .contact{ 
        border: 1px solid black;
       border-radius: 10px;
       margin-bottom: 40px;
    } 
    .explore{ 
        margin-top: 40px;
    }
    .api2{ 
        border: 1px solid black;
        padding: 40px;
        margin-top: 20px;
    } 
    .api3{ 
        font-size: 30px;
        padding: 10px;
    } 
    .ic{ 
        width: 50%;
    } 
    .add{ 
        font-size: 20px;
        margin-top: 20px;
    } 
    .personize{ 
        font-size: 50px;
    }
    .api4{ 
        margin-top: 30px;
    }
    .why{ 
        font-size: 17px;
    } 
    .drop{ 
        border: 1px solid black;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 30px;
    }
    .why1{ 
        border-bottom: 1px solid black;
        /* margin-top: 30px; */
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    .down{ 
        margin-bottom: 30px;
    }
    .img1{ 
        width: 90%;
        margin-left: 30px;
        margin-top: 30px;
    } 
    .ic1{ 
        width: 40%;
    }
    .footer{ 
        background-color: #F8F9FA;
        margin-top: 30px;
    }
   
   